details {
  margin: var(--line-height) 0;
  border-top: var(--border-thickness) solid var(--text-color);
  border-bottom: var(--border-thickness) solid var(--text-color);
  padding: var(--line-height) 0;
}

summary {
  font-weight: var(--font-weight-normal);
  font-style: italic;
  cursor: pointer;
}

details[open] summary {
  margin-bottom: var(--line-height);
}

details ::marker {
  content: '';
}

details summary::before {
  display: inline-block;
  content: '»';
  margin: 0 .5ch 0 0;
  font-style: normal;
}

details[open] summary::before {
  transform: rotate(90deg);
}

details :last-child {
  margin-bottom: 0;
}
